{% extends 'base.html' %}
{% block title %}
  Home
{% endblock %}

{% block homeWrite %}
  <section id="hero" class="hero d-flex align-items-center section-bg">
    <div class="container d-flex">
      <div class="row justify-content-between gy-5">
        <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
          <h2 data-aos="fade-up">Welcome to <br />Dhamaka Sale</h2>
          <p data-aos="fade-up" data-aos-delay="100">Here you can find many variety of clothes for your next shopping like Shoe,Jeans,Shirt etc.</p>
          <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
            <a href="#book-a-table" class="btn-book-a-table">Explore</a>
            <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
          </div>
        </div>
        <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
          <img src="static/assets/img/hero-img.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300" />
        </div>
      </div>
    </div>
  </section>
{% endblock %}
{% block testemonial %}
  <section id="testimonials" class="testimonials section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>Testimonials</h2>
        <p>
          What Are They <span>Saying About Us</span>
        </p>
      </div>

      <div class="slides-1 swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="testimonial-item">
              <div class="row gy-4 justify-content-center">
                <div class="col-lg-6">
                  <div class="testimonial-content">
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                    <h3>Saul Goodman</h3>
                    <h4>Ceo &amp; Founder</h4>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 text-center">
                  <img src="static/assets/img/testimonials/testimonials-1.jpg" class="img-fluid testimonial-img" alt="" />
                </div>
              </div>
            </div>
          </div>
          <!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <div class="row gy-4 justify-content-center">
                <div class="col-lg-6">
                  <div class="testimonial-content">
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                    <h3>Sara Wilsson</h3>
                    <h4>Designer</h4>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 text-center">
                  <img src="static/assets/img/testimonials/testimonials-2.jpg" class="img-fluid testimonial-img" alt="" />
                </div>
              </div>
            </div>
          </div>
          <!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <div class="row gy-4 justify-content-center">
                <div class="col-lg-6">
                  <div class="testimonial-content">
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                    <h3>Jena Karlis</h3>
                    <h4>Store Owner</h4>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 text-center">
                  <img src="static/assets/img/testimonials/testimonials-3.jpg" class="img-fluid testimonial-img" alt="" />
                </div>
              </div>
            </div>
          </div>
          <!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <div class="row gy-4 justify-content-center">
                <div class="col-lg-6">
                  <div class="testimonial-content">
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                    <h3>John Larson</h3>
                    <h4>Entrepreneur</h4>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 text-center">
                  <img src="static/assets/img/testimonials/testimonials-4.jpg" class="img-fluid testimonial-img" alt="" />
                </div>
              </div>
            </div>
          </div>
          <!-- End testimonial item -->
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>
{% endblock %}

<!-- ======= Events Section ======= -->
<section id="events" class="events">
  <div class="container-fluid" data-aos="fade-up">
    <div class="section-header">
      <h2>Events</h2>
      <p>
        Share <span>Your Moments</span> In Our Restaurant
      </p>
    </div>

    <div class="slides-3 swiper" data-aos="fade-up" data-aos-delay="100">
      <div class="swiper-wrapper">
        <div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: url(static/assets/img/events-1.jpg)">
          <h3>Custom Parties</h3>
          <div class="price align-self-start">$99</div>
          <p class="description">Quo corporis voluptas ea ad. Consectetur inventore sapiente ipsum voluptas eos omnis facere. Enim facilis veritatis id est rem repudiandae nulla expedita quas.</p>
        </div>
        <!-- End Event item -->

        <div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: url(static/assets/img/events-2.jpg)">
          <h3>Private Parties</h3>
          <div class="price align-self-start">$289</div>
          <p class="description">In delectus sint qui et enim. Et ab repudiandae inventore quaerat doloribus. Facere nemo vero est ut dolores ea assumenda et. Delectus saepe accusamus aspernatur.</p>
        </div>
        <!-- End Event item -->

        <div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: url(static/assets/img/events-3.jpg)">
          <h3>Birthday Parties</h3>
          <div class="price align-self-start">$499</div>
          <p class="description">Laborum aperiam atque omnis minus omnis est qui assumenda quos. Quis id sit quibusdam. Esse quisquam ducimus officia ipsum ut quibusdam maxime. Non enim perspiciatis.</p>
        </div>
        <!-- End Event item -->
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
<!-- End Events Section -->
{% block galleery %}
  <section id="gallery" class="gallery section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>gallery</h2>
        <p>
          Check <span>Our Gallery</span>
        </p>
      </div>

      <div class="gallery-slider swiper">
        <div class="swiper-wrapper align-items-center">
          <div class="swiper-slide">
            <a class="glightbox" data-gallery="images-gallery" href="static/assets/img/gallery/gallery-1.jpg"><img src="static/assets/img/gallery/gallery-1.jpg" class="img-fluid" alt="" /></a>
          </div>
          <div class="swiper-slide">
            <a class="glightbox" data-gallery="images-gallery" href="static/assets/img/gallery/gallery-2.jpg"><img src="static/assets/img/gallery/gallery-2.jpg" class="img-fluid" alt="" /></a>
          </div>
          <div class="swiper-slide">
            <a class="glightbox" data-gallery="images-gallery" href="static/assets/img/gallery/gallery-3.jpg"><img src="static/assets/img/gallery/gallery-3.jpg" class="img-fluid" alt="" /></a>
          </div>
          <div class="swiper-slide">
            <a class="glightbox" data-gallery="images-gallery" href="static/assets/img/gallery/gallery-4.jpg"><img src="static/assets/img/gallery/gallery-4.jpg" class="img-fluid" alt="" /></a>
          </div>
          <div class="swiper-slide">
            <a class="glightbox" data-gallery="images-gallery" href="static/assets/img/gallery/gallery-5.jpg"><img src="static/assets/img/gallery/gallery-5.jpg" class="img-fluid" alt="" /></a>
          </div>
          <div class="swiper-slide">
            <a class="glightbox" data-gallery="images-gallery" href="static/assets/img/gallery/gallery-6.jpg"><img src="static/assets/img/gallery/gallery-6.jpg" class="img-fluid" alt="" /></a>
          </div>
          <div class="swiper-slide">
            <a class="glightbox" data-gallery="images-gallery" href="static/assets/img/gallery/gallery-7.jpg"><img src="static/assets/img/gallery/gallery-7.jpg" class="img-fluid" alt="" /></a>
          </div>
          <div class="swiper-slide">
            <a class="glightbox" data-gallery="images-gallery" href="static/assets/img/gallery/gallery-8.jpg"><img src="static/assets/img/gallery/gallery-8.jpg" class="img-fluid" alt="" /></a>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>
{% endblock galleery %}
